<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pantry</title>
</head>
<body>
  <h1>Pantry Items</h1>
  <ul>
    <% pantry.forEach(item => { %>
      <li><%= item.name %> - <%= item.quantity %> - <%= item.expirationDate %></li>
    <% }) %>
  </ul>
  <a href="/users/<%= user._id %>/foods/new">Add New Item</a>
</body>
</html>